.treeRoot {
  list-style-type: none;
  padding-inline-start: 0px;
  position: relative;
  height:100%;
  background:#202123;
}

.treeRoot ul {
  list-style-type: none;
  padding-inline-start: 0px;
  position: relative;
  /* background:#202123; */
}

.treeRoot > li:after {
  display: none;
}

.container{
  /* background:#202123; */
}


.dropTarget {
  @apply bg-gptSteelBlue;
}

.dropTarget div[data-gradient='true']{
  @apply from-gptSteelBlue;
}

.draggingSource > div {
  opacity: .3;
}

.listItem {
  /* background: #202123; */
  position: relative;
}

.placeholderContainer {
  position: relative;
}

.placeHolder{
  @apply bg-gptlogo;
  
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}
