.treeRoot {
  list-style-type: none;
  padding-inline-start: 0px;
  position: relative;
  height:100%;
  background:#202123;
}

.treeRoot ul {
  list-style-type: none;
  padding-inline-start: 0px;
  position: relative;
  /* background:#202123; */
}

.treeRoot > li:after {
  display: none;
}

.container{
  /* background:#202123; */
}


.dropTarget {
  @apply bg-gptSteelBlue;
  /* outline-gray-300/50 outline-1 outline */
  
}

.dropTarget div[data-gradient='true']{
  @apply from-gptSteelBlue;
}

.draggingSource > div {
  opacity: .3;
}

.listItem {
  /* background: #202123; */
  position: relative;
}

.placeholderContainer {
  position: relative;
}

.placeHolder{
  /* @apply bg-blue-500; */
  @apply shadow-inner shadow-gptlogo z-10;
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}


.wrapper li:has(> .dropTarget) { /* Not working rn */
  outline: 3px solid #e8f0fe;
  background:red !important;
  border-radius: 4px;
}

.wrapper{
  height: 100%;
  margin-top: 4px;
}