.treeRoot {
  list-style-type: none;
  padding-inline-start: 0px;
  position: relative;
  height:100%;
  background:#202123;
}

.treeRoot ul {
  list-style-type: none;
  padding-inline-start: 0px;
  position: relative;
  /* background:#202123; */
}

.treeRoot > li:after {
  display: none;
}

.container{
  /* background:#202123; */
}

/* li:has(> .dropTarget) {
  outline: 3px solid #e8f0fe;
  border-radius: 4px;
  background:blue;
  opacity: 1;
} */

.dropTarget {
  /* background-color: red !important;
  outline: 2px solid #e8f0fe; */
  /* border-radius: 4px; */
}

.dropTarget > * {
  @apply bg-gptSteelBlue;
}


/* .dropTarget > div{
  background: blue !important;
  outline: 2px solid #e8f0fe;
  border-radius: 4px;
} */

.draggingSource > div {
  opacity: .3;
}

.listItem {
  /* background: #202123; */
}

.placeholderContainer {
  position: relative;
}

.placeHolder{
  @apply bg-gptlogo;
  
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}
